.products{
    min-width: 800px;
    overflow: hidden;
}
.products__block{
    font-weight: bold;
    border-bottom: 2px solid#dadada;
    text-transform: uppercase;
    padding: 15px;
    display: flex;
    flex-direction: row;
}
.products__products__block_id{
    padding-right: 250px;
}
